* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  margin-top: 2rem;
  display: flex;
  min-width: 30rem;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3rem;
  min-height: 70vh;
}
.user-input-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
textarea {
  width: 100%;
  resize: none;
  min-height: 8rem;
  border-radius: 0.3rem;
  outline: none;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid gainsboro;
}
.user-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}
.user-btns button {
  width: 100%;
  padding: 0.6rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.3rem;
  font-size: 1rem;
}
button:hover {
  opacity: 0.8;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.result p {
  border: 1px solid gainsboro;
  padding: 1rem;
  border-radius: 0.3rem;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result p button {
  border: none;
  cursor: pointer;
  outline: none;
}
